language: python
python:
 - 2.7
 - 3.3
 - 3.4
install:
 - pip install -r requirements.txt
 - python setup.py -q develop
 - pip install pytest pytest-cov coveralls
script: 
    py.test --cov skosprovider_oe --cov-report term-missing tests
after_success:
    coveralls
